<div class="booyah-box col-10 offset-1 rounded-lg">
  <div class="row h-100">
    <div class="col-12 col-sm-2 offset-4 offset-sm-1 text-center mh-100 my-auto">
      <%= image_tag 'user-default.png' %>
    </div>
    <div class="col-12 col-sm-8 offset-0 offset-sm-1 text-sm-left text-center">
      <h1><%= @user.email %></h1><br />
      <p> Member Since: <%= @user.created_at.strftime("%B %d, %Y") %><br />
      User has commented <%= @user.comments.count %> times.<br />
      User has given <%= @user.comments.where(rating: '5_stars').count %> Five <i class="fas fa-star"></i> ratings to places & rated a total of <%= @user.comments.count %> places.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="booyah-box col-10 offset-1 rounded-lg">
  <% if @user.comments.any? %>
  <h2 class="af">My Comments</h2><br />
    <div class="row">
      <% @user.comments.each do |comment| %>
        <div class="col-12 col-sm-6">
          <h4 class=" text-sm-left text-center"><%= link_to comment.place.name, place_path(comment.place) %></h4>
          <blockquote>
            <% if comment.humanized_rating.present? %>
              <b><%= comment.humanized_rating %></b> -
            <% end %>
              <%= comment.message %>
              <br />
            <small class="float-right"><%= comment.user.email %></small>
            <br/>
          </blockquote>
        </div>
      <% end %> 
    </div>
<% end %>
</div>

<div class="booyah-box col-10 offset-1 rounded-lg">
  <% if @user.places.any? %>
    <h2 class="af">My Places</h2><br />
    <% @user.places.each do |place| %>
      <div class="col-12 col-sm-6 float-left">
        <h1><%= link_to place.name, place_path(place) %></h1>
        <i><%= place.description %></i><br />
        <p><%= place.address %></p><br />
      </div>
      <% if place.comments.present? %>
        <div class="col-12 col-sm-6 float-right">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
            <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
          </blockquote>
        </div>
      <% end %>
        <% if place.comments.present? %>
          <div class="col-12 col-sm-6 float-right">
            <p>Place has <%= place.comments.count %> comments.</p>
            <p>Users have given <%= place.comments.where(rating: '5_stars').count %> Five <i class="fas fa-star"></i> ratings out of a total <%= @user.comments.count %> places.</p>
          </div>
        <% end %>
      <div class="clear"></div>
    <% end %>
  <% end %>
</div>