<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slide-001.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block rounded-lg">
        <h3>Dope stencil work at Black Ink Harlem</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide-002.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block rounded-lg">
        <h3>White Plains Road graffiti spot</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide-003.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block rounded-lg">
        <h3>Diner art using breakfast cereal</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1 rounded-lg">
    <div class="col-12 col-lg-6 float-left">
      <h1><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.description %></i><br /><br />
      <p><%= place.address %></p>
      <% if place.user.present? %>
        <small><%= "Contributed by: " + place.user.email %></small>
        <% if place.comments.present? %>
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <small><%= place.comments.last.user.email %></small>
            </blockquote>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-lg-6 float-right">
      <% if place.image_places.any? %>
        <%= image_tag place.image_places.first.imagePlace.url, class: 'img-fluid rounded-lg' %>
      <% end %>
    </div>
  <div class="clear"></div>
  </div>
<% end %>

<div class="booyah-box col-8 offset-2 rounded-lg">
  <%= will_paginate @places, previous_label: h("<"), next_label: h(">") %>
</div>