<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i> <%= @place.address %></i>
  <br />
  <p> <%= @place.description %></p>
  <div class="float-right">
  <% if current_user && current_user == @place.user %>
    <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to pull a Thanos on your place?'}, class: 'btn btn-danger' %>
    <% end %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add a Comment
  </button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#yourModal">
  Upload a Picture
  </button>  <br />
  <br />
  </div>
  <div class="clear"></div>
 <% if @place.latitude.present? && @place.longitude.present? %>
  <script>
    function initMap() {
      var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDklG_Zc_FsM6myfhQDi_zMmNR30dLQx3Q&callback=initMap">
  </script>
  <div id="map"></div>
<% end %>
<br />

<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="commentModal">Any thoughts?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="clear"></div>
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="yourModal" tabindex="-1" role="dialog" aria-labelledby="photoModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="photoModal">Any thoughts?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="clear"></div>
        <%= simple_form_for @image_place, url: place_image_places_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :caption %>
          <%= f.file_field :imagePlace %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Upload Picture", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @place.image_places.any? %>
  <h1>Photos</h1>
    <div class="row">
      <% @place.image_places.each do |image_place| %>
        <div class="col-12 col-sm-2 float-left">
          <%= image_tag image_place.imagePlace.url, class: 'img-fluid img-thumbnail' %>
          <%= image_place.caption %><br /><br />
        </div>
      <% end %>
    </div>
  <div class="clear"></div>
  <br />
<% end %>

<% if @place.comments.any? %>
  <h1>Comments</h1>
    <div class="row">
      <% @place.comments.each do |comment| %>
        <div class="col-12 col-sm-6">
          <blockquote>
            <% if comment.humanized_rating.present? %>
              <b><%= comment.humanized_rating %></b> -
            <% end %>
              <%= comment.message %>
              <br />
            <small class="float-right"><%= comment.user.email %></small>
            <br/>
          </blockquote>
        </div>
      <% end %> 
    </div>
<% end %>
</div>